<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li　class="list-inline"><%= link_to "Home",    root_path %></li>
        <li class="list-inline"><%= link_to "Help",    help_path %></li>
        <li class="list-inline"><%= link_to "Sign in", '#' %></li>
      </ul>
      </nav>
  </div>
</header>
